{% extends 'base.html' %}

{%block content%}
{%load crispy_forms_tags%}
<main class="p-5">
    <div class="row p-5 text-justify">
        <div class="col">
            <h1  style="color: darkgreen; text-align: center; font-family: cursive; font-size: xx-large;"><b> Log In Page </b></h1>
        </div>
    </div>
    <div>
        <form enctype="multipart/form-data" method="post" style="background-color: gold;">
        {% csrf_token %}
        {{form | crispy}}<br>
        <input class="btn btn-primary" type="submit">

        <a href="/accounts/register/" class="btn btn-success">Register</a>

        <a href="/accounts/password/reset/" class="btn btn-danger">ReSet password</a>

        </form>
    </div>
</main>

{% endblock %}