{% extends 'base.html' %}

{%block content%}

<div class="row text-justify p-5">
    <div class="col-sm-6 ">
    <h5><i><b>Social means relating to society or to the way society is organized.Let's face it–drinking is still viewed as a socially acceptable habit.Higher education is unequally distributed across social classes. 
                    The guests came from all social backgrounds.We ought to organize more social events.</i></h5></b>

    </div>
    <div class="col-sm-6 ">   <!---div for slide show-->
        
      <iframe width="600" height="350" src="https://www.youtube.com/embed/9m45nVsvvEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
    </div>
</div>
{% endblock %}