{% extends 'base.html' %}
{%block content%}
{%load crispy_forms_tags%}

<h1>Profile Update</h1><br>
<main class="p-5">
        <div class="row p-5 text-justify">
            <div class="col">
                <div>
                        <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{form | crispy}}<br>
                        <input class="btn btn-dark" type="submit">
                        </form>
            </div>
        </div>
        
</div>
</main>
{% endblock %}